/* Loading fonts */
@font-face{
	font-family: script;
	src: url('/fonts/script.ttf');
}
@font-face{
	font-family: strato-linked-webfont;
	src: url('/fonts/strato-linked-webfont.ttf');
}
@font-face{
	font-family: strato-unlinked-webfont;
	src: url('/fonts/strato-unlinked-webfont.ttf');
}
/* Font downloaded from fontmeme on a "Free for Personal Use" license */
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* For the sticky footer demoed at http://mystrd.at/modern-clean-css-sticky-footer/ */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
	background-image:url("/img/tolex-background.jpg");
	background-repeat:space;
	background-size:cover;
    -webkit-background-size:cover;
    color:white;
}
.notice{
	margin-top: 2%;
	font-family: 'Didact Gothic', sans-serif;
	text-align:center;
	font-size:.8em;
}
.trademark{
	margin-top: 1%;
	font-family: 'Didact Gothic', sans-serif;
	text-align:center;
	font-size:.6em;
	color:rgb(203, 203, 203);
}
.bottom-nav{
	margin-top:1%;
	font-family: 'Didact Gothic', sans-serif;
	text-align:center;
}
.bottom-nav a{
	text-decoration: none;
	color:inherit;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
	
}
.bottom-nav a:hover{
	color:#f91d38;
	text-shadow: 0px 0px 17px rgba(255, 54, 54, 1);
}
/* End sticky footer */

/* Start some of Clinton's stuff I stole */

#doc_body
{
	width:100%;
	clear:both;
}
.doc_container
{
	max-width:1288px;
	min-width:300px;
	margin:0 auto;
	color:white;
}
article.doc_container{
	color:black;
	font-family: 'Didact Gothic', sans-serif;
}
@media screen and (max-width:1287px){
	.doc_container, .button_container{
		padding-right:4%;
		padding-left:4%;
	}
}

.content100
{
	width:100%;
}
figure img{
	width:100%;
}
.content75
{
	width:75%;
	float:left;
}
.content67
{
	width:66.6%;
	float:left;
}

.content50
{
	width:50%;
	float:left;
}
.content33
{
	width:33.3%;
	float:left;
	box-sizing:border-box;
}

.content25
{
	width:25%;
	float:left;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.inner
{
	margin:5px 20px;
	padding:5px 20px 20px;
}
.clear
{
	width:100%;
	clear:both;
}

/* End of the reset, now specific styles for the site */
/* top bar */
.top-bar{
	background-image:url("/img/tolex-background.jpg");
	background-repeat:space;
	background-size:cover;
    -webkit-background-size:cover;
	padding-bottom:15px;
	font-family:strato-linked-webfont;
}
.mastheadcontainer{
	margin:0 auto;
	max-width:1000px;
}
#mastheadimg{
	margin:0 auto;
	width:100%;
	max-width:1000px;
	border-radius: 1em;
}
.mastheadcontainer h1{
	text-align:center;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.6em;
}
#theunofficial{
	padding:12px 0px;
}
#usersguide{
	padding-top:12px;
	padding-bottom:10px;
}
.button{
	position:absolute;
	padding:10px 20px;
	top:75px;
	border-radius: .2em;
	background-color:rgb(203, 203, 203);
	color:black;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 2em;
	display:inline-block;
	text-decoration: none;
	transition:color 0.4s ease-out;
	-webkit-transition: color 0.4s ease-out;
}
.button_container{
	position:relative;
	max-width:1000px;
	min-width:300px;
	margin:0 auto;
}
#firstbutton{
	left:0;
}
#secondbutton{
	right:0;
}
.button:hover{
	color:rgb(203, 203, 203);
	background-color:black;
}
article{
	color:black;
	font-family:'Didact Gothic', sans-serif;
	padding-top:3%;
	padding-bottom:3%;
}
section{
	font-size: 1.1em;
	line-height: 1.5em;
}
section a{
	text-decoration: underline;
	color:#8E1322;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
	
}
section a:hover{
	color:#f91d38;
	text-shadow: 0px 0px 17px rgba(255, 54, 54, 1);
}
.inside-buttons section a{
	padding:10px 20px;
	margin-bottom:2%;
	border-radius: .2em;
	background-color:rgb(203, 203, 203);
	color:black;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.2em;
	display:inline-block;
	text-decoration: none;
	transition:color 0.4s ease-out;
	-webkit-transition: color 0.4s ease-out;
}
.inside-buttons section a:hover{
	color:rgb(203, 203, 203);
	background-color:black;
}
header h1{
	font-size: 2em;
  font-weight: 600;
  text-align: center;
  padding-bottom: 4%;
}
.hero{
	position:relative;
}
.hero img{
	vertical-align: bottom;
}
/*  main navigation (not the mobile one) */
.menubar_container{
text-align:center;
margin-bottom: 10px;
padding-bottom: 3px;
padding-top: 22px;
height: 40px;
}
.menubar_container ul{
	line-height: 30px;
}
.menubar_container li{
	display: inline-table;
	margin: 0;
	padding: 0;
	padding-right: 5%;
	font-size: 1.5em;
}
.mainNav{
	overflow:hidden;
}

.menubar_container a {
	text-decoration: none;
	color:rgb(239,239,239);
	padding:0px 9px;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
.menubar_container a:hover{
	color:#f91d38;
	text-shadow: 0px 0px 17px rgba(255, 54, 54, 1);
}
.menubar_container li:last-of-type {
	padding-right: 0;
	padding-bottom:20px;
}
/*  dropdown menu */
.menubar_container li{
	position:relative;
	display:inline-block;
}
.menubar_container li a{
	display:inline-block;
}
.menubar_container li ul{
	display:none;
	position:absolute;
	top:1.15em;
}
.menubar_container li:hover ul{
	display:block;
}

.menubar_container li li{
	display:block;
	padding:5px;
	text-align:left;
	font-size:.8em;
}
.menubar_container li ul li a:hover{
	color:#f91d38;
	text-shadow: 0px 0px 17px rgba(255, 54, 54, 1);
}

.dropdown{
	margin-top:15px;
	z-index: 10;
	width:275px;
	font-family: 'Didact Gothic', sans-serif;
	background-image:url('../img/dropdown-background.jpg');
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
	-webkit-opacity: .8;
	opacity: .8;
}
.slicknav_parent .dropdown{
	-webkit-opacity:1;
	opacity:1;
}
.dropdown:hover{
	-webkit-opacity: 1;
	opacity: 1;
	visibility: visible;
}
#first-dropdown{
	padding-top:15px;
}

/* For the FAQ pages */
.question {
	background: url(../img/open.png) no-repeat 0 11px;
	padding: 10px 0 0 25px;
	cursor: pointer;
	font-weight: 600;
}
h2.close {
	background-image: url(../img/close.png);
}
.answer {
	margin-left: 25px;
	padding-top:1%;
	padding-bottom:3%;	
}
/* media queries */
@media only screen and (max-width:1080px){
	#firstbutton{
		margin-left:4%;
	}
	#secondbutton{
		margin-right:4%;
	}
}
@media only screen and (max-width:940px){
	.dropdown{
		width:200px;
	}
}
@media only screen and (max-width:760px){
	.dropdown{
		width:182px;
	}
}
@media only screen and (max-width:720px){
	.dropdown{
		width:180px;
	}
@media only screen and (max-width:719px){
	.menubar_container{
		display:none;
	}
	#theunofficial{
		padding-top:0;
	}
	.mastheadcontainer h1{
		font-size:1.1em;
	}
	.slicknav_menu .dropdown{
		width:100%;
		margin-left:0;
		margin-bottom:10px;
	}
	.button{
		top:45px;
		font-size: 1.2em;
	}
}
@media only screen and (max-width:500px){
	.inside-buttons section a{
		padding:5px 10px;
		margin-bottom:4%;
		font-size:.8em;
	}
}

