/* Loading fonts */
@font-face{
	font-family: script;
	src: url('/fonts/script.ttf');
}
/* Font downloaded from fontmeme on a "Free for Personal Use" license */
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* For the sticky footer demoed at http://mystrd.at/modern-clean-css-sticky-footer/ */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 73px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 73px;
    width: 100%;
	background-color:black;
    color:white;
}
.notice{
	text-align:center;
}

/* End sticky footer */

/* Start some of Clinton's stuff I stole */

#doc_body
{
	width:100%;
	clear:both;
}
.doc_container
{
	max-width:1288px;
	min-width:300px;
	margin:0 auto;
	color:white;
}
article.doc_container{
	color:black;
}
@media screen and (max-width:1287px){
	.doc_container
	{
		padding-right:4%;
		padding-left:4%;
	}
}

.content100
{
	width:100%;
}
.content75
{
	width:75%;
	float:left;
}
.content67
{
	width:66.6%;
	float:left;
}

.content50
{
	width:50%;
	float:left;
}
.content33
{
	width:33.3%;
	float:left;
	box-sizing:border-box;
}

.content25
{
	width:25%;
	float:left;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.inner
{
	margin:5px 20px;
	padding:5px 20px 20px;
}
.clear
{
	width:100%;
	clear:both;
}

/* End of the reset, now specific styles for the site */
.ui-panel{
background-color:green; 

}
.ui-loader.ui-corner-all.ui-body-a.ui-loader-default.ui-loader-fakefix{
	display:none!important;
}
.ui-loader.ui-corner-all.ui-body-a.ui-loader-default{
	display:none!important;
}
.ui-page.ui-body-c.ui-page-panel.ui-page-active{
/*
	background-image:url("/img/oxblood-bg.jpg");
	background-repeat:space;
	background-size:cover;
    -webkit-background-size:cover;
*/
	background-color:rgb(239,239,239);
}


/* top bar */
.top-bar{
/*
	background-image:url("/img/tweed-background-2.jpg");
    background-repeat:space;
    background-size:cover;
    -webkit-background-size:cover;
*/
	background-color:black;
	padding-bottom:15px;
	font-family: script;
	color:white;

}
/*  main navigation (not the mobile one) */
.menubar_container{
text-align:center;
margin-bottom: 19px;
padding-bottom: 3px;
padding-top: 22px;
height: 40px;
}
.menubar_container ul{
	line-height: 30px;
}
.menubar_container li{
	display: inline-table;
	margin: 0;
	padding: 0;
	padding-right: 5%;
	font-size: 2em;
}
.menubar_container li:last-of-type {
	padding-right: 0;
}

.mainNav{
	overflow:hidden;
}

.menubar_container a {
	text-decoration: none;
	font-size:1.1em;
	color:rgb(239,239,239);
	border:1px solid rgb(239,239,239);
	border-radius:.2em;
	padding:0px 8px;
}
/* let's see if I can get rid of calling jquery's stylesheet which is fucking everything up */

.ui-content .ui-listview, .ui-panel-inner > .ui-listview {
    margin: -15px;
}
.ui-collapsible-content > .ui-listview {
    margin: -10px -15px;
}
.ui-content .ui-listview-inset, .ui-panel-inner .ui-listview-inset {
    margin: 1em 0;
}
.ui-collapsible-content .ui-listview-inset {
    margin: .5em 0;
}
.ui-listview, .ui-li {
    list-style: none;
    padding: 0;
}
.ui-li, .ui-li.ui-field-contain {
    display: block;
    margin: 0;
    position: relative;
    overflow: visible;
    text-align: left;
    border-width: 0;
    border-top-width: 1px;
}
.ui-li.ui-btn, .ui-li.ui-field-contain, .ui-li-divider, .ui-li-static {
    margin: 0;
}
.ui-listview-inset .ui-li {
    border-right-width: 1px;
    border-left-width: 1px;
}
.ui-li.ui-last-child, .ui-li.ui-field-contain.ui-last-child {
    border-bottom-width: 1px;
}
.ui-collapsible-content > .ui-listview:not(.ui-listview-inset) > .ui-li.ui-first-child {
    border-top-width: 0;
}
.ui-collapsible-themed-content .ui-listview:not(.ui-listview-inset) > .ui-li.ui-last-child {
    border-bottom-width: 0;
}
.ui-li .ui-btn-text a.ui-link-inherit {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.ui-li-static {
    background-image: none;
}
.ui-li-divider {
    padding: .5em 15px;
    font-size: 14px;
    font-weight: bold;
}
ol.ui-listview .ui-link-inherit:before, ol.ui-listview .ui-li-static:before, .ui-li-dec {
    font-size: .8em;
    display: inline-block;
    padding-right: .3em;
    font-weight: normal;
    counter-increment: listnumbering;
    content: counter(listnumbering) ". "}
ol.ui-listview .ui-li-jsnumbering:before {
    content: ""!important;
}
.ui-listview > .ui-li.ui-first-child, .ui-listview .ui-btn.ui-first-child > .ui-li > .ui-btn-text > .ui-link-inherit {
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
    -webkit-border-top-left-radius: inherit;
    border-top-left-radius: inherit;
}
.ui-listview > .ui-li.ui-last-child, .ui-listview .ui-btn.ui-last-child > .ui-li > .ui-btn-text > .ui-link-inherit, .ui-collapsible-content > .ui-listview:not(.ui-listview-inset), .ui-collapsible-content > .ui-listview:not(.ui-listview-inset) .ui-li.ui-last-child {
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit;
}
.ui-listview > .ui-li.ui-first-child .ui-li-link-alt {
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
}
.ui-listview > .ui-li.ui-last-child .ui-li-link-alt {
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
}
.ui-listview > .ui-li.ui-first-child .ui-li-thumb:not(.ui-li-icon) {
    -webkit-border-top-left-radius: inherit;
    border-top-left-radius: inherit;
}
.ui-listview > .ui-li.ui-last-child .ui-li-thumb:not(.ui-li-icon) {
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit;
}
.ui-li>.ui-btn-inner {
    display: block;
    position: relative;
    padding: 0;
}
.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding: .7em 15px;
    display: block;
}
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
    min-height: 59px;
    padding-left: 100px;
}
.ui-li-has-icon .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-icon {
    min-height: 20px;
    padding-left: 40px;
}
.ui-li-has-count .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-count, .ui-li-divider.ui-li-has-count {
    padding-right: 45px;
}
.ui-li-has-arrow .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-arrow {
    padding-right: 40px;
}
.ui-li-has-arrow.ui-li-has-count .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-arrow.ui-li-has-count {
    padding-right: 75px;
}
.ui-li-heading {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: .6em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.ui-li-desc {
    font-size: 12px;
    font-weight: normal;
    display: block;
    margin: -.5em 0 .6em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.ui-li-thumb, .ui-listview .ui-li-icon {
    position: absolute;
    left: 1px;
    top: 0;
    max-height: 80px;
    max-width: 80px;
}
.ui-listview .ui-li-icon {
    max-height: 16px;
    max-width: 16px;
    left: 10px;
    top: .9em;
}
.ui-li-thumb, .ui-listview .ui-li-icon, .ui-li-content {
    float: left;
    margin-right: 10px;
}
.ui-li-aside {
    float: right;
    width: 50%;
    text-align: right;
    margin: .3em 0;
}
@media all and (min-width:480px) {
    .ui-li-aside {
    width: 45%}
}.ui-li-divider {
    cursor: default;
}
.ui-li-has-alt .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-alt {
    padding-right: 53px;
}
.ui-li-has-alt.ui-li-has-count .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-alt.ui-li-has-count {
    padding-right: 88px;
}
.ui-li-has-count .ui-li-count {
    position: absolute;
    font-size: 11px;
    font-weight: bold;
    padding: .2em .5em;
    top: 50%;
    margin-top: -.9em;
    right: 10px;
}
.ui-li-has-count.ui-li-divider .ui-li-count, .ui-li-has-count .ui-link-inherit .ui-li-count {
    margin-top: -.95em;
}
.ui-li-has-arrow.ui-li-has-count .ui-li-count {
    right: 40px;
}
.ui-li-has-alt.ui-li-has-count .ui-li-count {
    right: 53px;
}
.ui-li-link-alt {
    position: absolute;
    width: 40px;
    height: 100%;
    border-width: 0;
    border-left-width: 1px;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
}
.ui-li-link-alt .ui-btn {
    overflow: hidden;
    position: absolute;
    right: 8px;
    top: 50%;
    margin: -13px 0 0 0;
    border-bottom-width: 1px;
    z-index: -1;
}
.ui-li-link-alt .ui-btn-inner {
    padding: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.ui-li-link-alt .ui-btn .ui-icon {
    right: 50%;
    margin-right: -9px;
}
.ui-li-link-alt .ui-btn-icon-notext .ui-btn-inner .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -9px;
}
.ui-listview * .ui-btn-inner > .ui-btn > .ui-btn-inner {
    border-top: 0;
}
.ui-listview-filter {
    border-width: 0;
    overflow: hidden;
    margin: -15px -15px 15px -15px;
}
.ui-collapsible-content .ui-listview-filter {
    margin: -10px -15px 10px -15px;
    border-bottom: inherit;
}
.ui-listview-filter-inset {
    margin: -15px -5px;
    background: transparent;
}
.ui-collapsible-content .ui-listview-filter-inset {
    margin: -5px;
    border-bottom-width: 0;
}
.ui-listview-filter .ui-input-search {
    margin: 5px;
    width: auto;
    display: block;
}
.ui-li.ui-screen-hidden {
    display: none;
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
    .ui-li .ui-btn-text {
    overflow: visible;
}
}label.ui-slider {
    font-size: 16px;
    line-height: 1.4;
    font-weight: normal;
    margin: 0;
    display: block;
}
.ui-field-contain label.ui-slider {
    margin-bottom: .4em;
}
div.ui-slider {
    height: 30px;
    margin: .5em 0;
    zoom: 1;
}
div.ui-slider.ui-mini {
    margin: .25em 0;
}
.ui-field-contain div.ui-slider, .ui-field-contain div.ui-slider.ui-mini {
    margin: 0;
}
div.ui-slider:before, div.ui-slider:after {
    content: "";
    display: table;
}
div.ui-slider:after {
    clear: both;
}
input.ui-input-text.ui-slider-input {
    display: block;
    float: left;
    margin: 0;
    padding: 4px;
    width: 40px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    border: none;
    background-image: none;
    font-weight: bold;
    text-align: center;
    vertical-align: text-bottom;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
}
.ui-slider-input::-webkit-outer-spin-button, .ui-slider-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.ui-slider-track, .ui-slider-switch {
    position: relative;
    overflow: visible;
    height: 15px;
    margin: 0 15px 0 68px;
    top: 6px;
}
.ui-slider-track.ui-mini {
    height: 12px;
    top: 8px;
}
.ui-slider-bg {
    border: none;
    height: 100%}
.ui-slider-track .ui-btn.ui-slider-handle, .ui-slider-switch .ui-btn.ui-slider-handle {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 28px;
    height: 28px;
    margin: -15px 0 0 -15px;
    outline: 0;
}
.ui-slider-track.ui-mini .ui-slider-handle {
    height: 14px;
    width: 14px;
    margin: -8px 0 0 -7px;
}
.ui-slider-handle .ui-btn-inner {
    padding: 0;
    height: 100%}
.ui-slider-track.ui-mini .ui-slider-handle .ui-btn-inner {
    height: 30px;
    width: 30px;
    padding: 0;
    margin: -9px 0 0 -9px;
    border-top: none;
}
select.ui-slider-switch {
    display: none;
}
div.ui-slider-switch {
    display: inline-block;
    height: 32px;
    width: 5.8em;
    margin: .5em 0;
    top: 0;
}
div.ui-slider-switch.ui-mini {
    width: 5em;
    height: 29px;
    margin: .25em 0;
    top: 0;
}
.ui-field-contain .ui-slider-switch, .ui-field-contain .ui-slider-switch.ui-mini {
    margin: 0;
}
.ui-slider-inneroffset {
    margin: 0 16px;
    position: relative;
    z-index: 1;
}
.ui-slider-switch.ui-mini .ui-slider-inneroffset {
    margin: 0 15px 0 14px;
}
.ui-slider-switch .ui-btn.ui-slider-handle {
    margin: 1px 0 0 -15px;
}
.ui-slider-switch.ui-mini .ui-slider-handle {
    width: 25px;
    height: 25px;
    margin: 1px 0 0 -13px;
    padding: 0;
}
.ui-slider-handle-snapping {
    -webkit-transition: left 70ms linear;
    -moz-transition: left 70ms linear;
}
.ui-slider-switch.ui-mini .ui-slider-handle .ui-btn-inner {
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    border-top: none;
}
.ui-slider-switch .ui-slider-label {
    position: absolute;
    text-align: center;
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    top: 0;
    line-height: 2;
    min-height: 100%;
    border-width: 0;
    white-space: nowrap;
    cursor: pointer;
}
.ui-slider-switch.ui-mini .ui-slider-label {
    font-size: 14px;
}
.ui-slider-switch .ui-slider-label-a {
    z-index: 1;
    left: 0;
    text-indent: -1.5em;
}
.ui-slider-switch .ui-slider-label-b {
    z-index: 0;
    right: 0;
    text-indent: 1.5em;
}
@media all and (min-width:28em) {
    .ui-field-contain label.ui-slider {
    vertical-align: top;
    display: inline-block;
    width: 20%;
    margin: 0 2% 0 0;
}
.ui-field-contain div.ui-slider {
    display: inline-block;
    width: 78%}
.ui-field-contain.ui-hide-label div.ui-slider {
    display: block;
    width: auto;
}
.ui-field-contain div.ui-slider-switch, .ui-field-contain.ui-hide-label div.ui-slider-switch {
    display: inline-block;
    width: 5.8em;
}
.ui-field-contain div.ui-slider-switch.ui-mini {
    width: 5em;
}
}.ui-table {
    border: 0;
    border-collapse: collapse;
    padding: 0;
    width: 100%}
.ui-table th, .ui-table td {
    line-height: 1.5em;
    text-align: left;
    padding: .4em .5em;
    vertical-align: top;
}
.ui-table th {
    font-weight: bold;
}
.ui-table caption {
    text-align: left;
    margin-bottom: 1.4em;
    opacity: .5;
}
.table-stroke thead th {
    border-bottom: 1px solid #d6d6d6;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.table-stroke tbody th, .table-stroke tbody td {
    border-bottom: 1px solid #e6e6e6;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.table-stripe tbody tr:nth-child(odd) td, .table-stripe tbody tr:nth-child(odd) th {
    background-color: #eee;
    background-color: rgba(0, 0, 0, 0.04);
}
.table-stripe thead th, .table-stripe tbody tr:last-child {
    border-bottom: 1px solid #d6d6d6;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.ui-table-columntoggle-btn {
    float: right;
    margin-bottom: .8em;
}
.ui-table-columntoggle-popup fieldset {
    margin: 0;
}
@media only all {
    th.ui-table-priority-6, td.ui-table-priority-6, th.ui-table-priority-5, td.ui-table-priority-5, th.ui-table-priority-4, td.ui-table-priority-4, th.ui-table-priority-3, td.ui-table-priority-3, th.ui-table-priority-2, td.ui-table-priority-2, th.ui-table-priority-1, td.ui-table-priority-1 {
    display: none;
}
}@media screen and (min-width:20em) {
    .ui-table-columntoggle.ui-responsive th.ui-table-priority-1, .ui-table-columntoggle.ui-responsive td.ui-table-priority-1 {
    display: table-cell;
}
}@media screen and (min-width:30em) {
    .ui-table-columntoggle.ui-responsive th.ui-table-priority-2, .ui-table-columntoggle.ui-responsive td.ui-table-priority-2 {
    display: table-cell;
}
}@media screen and (min-width:40em) {
    .ui-table-columntoggle.ui-responsive th.ui-table-priority-3, .ui-table-columntoggle.ui-responsive td.ui-table-priority-3 {
    display: table-cell;
}
}@media screen and (min-width:50em) {
    .ui-table-columntoggle.ui-responsive th.ui-table-priority-4, .ui-table-columntoggle.ui-responsive td.ui-table-priority-4 {
    display: table-cell;
}
}@media screen and (min-width:60em) {
    .ui-table-columntoggle.ui-responsive th.ui-table-priority-5, .ui-table-columntoggle.ui-responsive td.ui-table-priority-5 {
    display: table-cell;
}
}@media screen and (min-width:70em) {
    .ui-table-columntoggle.ui-responsive th.ui-table-priority-6, .ui-table-columntoggle.ui-responsive td.ui-table-priority-6 {
    display: table-cell;
}
}.ui-table-columntoggle th.ui-table-cell-hidden, .ui-table-columntoggle td.ui-table-cell-hidden, .ui-table-columntoggle.ui-responsive th.ui-table-cell-hidden, .ui-table-columntoggle.ui-responsive td.ui-table-cell-hidden {
    display: none;
}
.ui-table-columntoggle th.ui-table-cell-visible, .ui-table-columntoggle td.ui-table-cell-visible, .ui-table-columntoggle.ui-responsive th.ui-table-cell-visible, .ui-table-columntoggle.ui-responsive td.ui-table-cell-visible {
    display: table-cell;
}
.ui-table-reflow td .ui-table-cell-label, .ui-table-reflow th .ui-table-cell-label {
    display: none;
}
@media only all {
    .ui-table-reflow thead td, .ui-table-reflow thead th {
    display: none;
}
.ui-table-reflow td, .ui-table-reflow th {
    text-align: left;
    display: block;
}
.ui-table-reflow tbody th {
    margin-top: 3em;
}
.ui-table-reflow td .ui-table-cell-label, .ui-table-reflow th .ui-table-cell-label {
    display: block;
    padding: .4em;
    min-width: 30%;
    display: inline-block;
    margin: -.4em 1em -.4em -.4em;
}
.ui-table-reflow th .ui-table-cell-label-top, .ui-table-reflow td .ui-table-cell-label-top {
    display: block;
    padding: .4em 0;
    margin: .4em 0;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: normal;
}
}@media ( min-width:35em ) {
    .ui-table-reflow.ui-responsive {
    display: table-row-group;
}
.ui-table-reflow.ui-responsive td, .ui-table-reflow.ui-responsive th, .ui-table-reflow.ui-responsive tbody th, .ui-table-reflow.ui-responsive tbody td, .ui-table-reflow.ui-responsive thead td, .ui-table-reflow.ui-responsive thead th {
    display: table-cell;
    margin: 0;
}
.ui-table-reflow.ui-responsive td .ui-table-cell-label, .ui-table-reflow.ui-responsive th .ui-table-cell-label {
    display: none;
}
}@media ( max-width:35em ) {
    .ui-table-reflow.ui-responsive td, .ui-table-reflow.ui-responsive th {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: left;
}
}.ui-panel {
    width: 17em;
    min-height: 100%;
    border-width: 0;
    position: absolute;
    top: 0;
    display: block;
}
.ui-panel-closed {
    width: 0;
    overflow: hidden;
}
.ui-panel-fixed {
    position: fixed;
    bottom: -1px;
    padding-bottom: 1px;
}
.ui-panel-display-overlay {
    z-index: 1001;
}
.ui-panel-display-reveal {
    z-index: 0;
}
.ui-panel-display-push {
    z-index: 999;
}
.ui-panel-inner {
    padding: 15px;
}
.ui-panel-content-wrap {
    position: relative;
    left: 0;
    min-height: inherit;
    border: none;
    z-index: 999;
}
.ui-panel-content-wrap-display-overlay, .ui-panel-animate.ui-panel-content-wrap > .ui-header, .ui-panel-content-wrap-closed {
    position: static;
}
.ui-panel-dismiss {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1002;
    display: none;
}
.ui-panel-dismiss-open {
    display: block;
}
.ui-panel-animate {
    -webkit-transition: -webkit-transform 350ms ease;
    -moz-transition: -moz-transform 350ms ease;
    transition: transform 350ms ease;
}
.ui-panel-animate.ui-panel:not(.ui-panel-display-reveal), .ui-panel-animate.ui-panel:not(.ui-panel-display-reveal) > div, .ui-panel-animate.ui-panel-content-wrap, .ui-panel-animate.ui-panel-content-fixed-toolbar {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}
.ui-panel-position-left {
    left: -17em;
}
.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
    left: 0;
    -webkit-transform: translate3d(-17em, 0, 0);
    -moz-transform: translate3d(-17em, 0, 0);
    transform: translate3d(-17em, 0, 0);
}
.ui-panel-position-left.ui-panel-display-reveal, .ui-panel-position-left.ui-panel-open {
    left: 0;
}
.ui-panel-animate.ui-panel-position-left.ui-panel-open.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-left.ui-panel-open.ui-panel-display-push {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.ui-panel-position-right {
    right: -17em;
}
.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-right.ui-panel-display-push {
    right: 0;
    -webkit-transform: translate3d(17em, 0, 0);
    -moz-transform: translate3d(17em, 0, 0);
    transform: translate3d(17em, 0, 0);
}
.ui-panel-position-right.ui-panel-display-reveal, .ui-panel-position-right.ui-panel-open {
    right: 0;
}
.ui-panel-animate.ui-panel-position-right.ui-panel-open.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-right.ui-panel-open.ui-panel-display-push {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open, .ui-panel-content-wrap-position-left.ui-panel-content-wrap-open, .ui-panel-dismiss-position-left.ui-panel-dismiss-open {
    left: 17em;
}
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal, .ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push, .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal, .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
    left: 0;
    -webkit-transform: translate3d(17em, 0, 0);
    -moz-transform: translate3d(17em, 0, 0);
    transform: translate3d(17em, 0, 0);
}
.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open, .ui-panel-content-wrap-position-right.ui-panel-content-wrap-open, .ui-panel-dismiss-position-right.ui-panel-dismiss-open {
    left: -17em;
}
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal, .ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push, .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal, .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
    left: 0;
    -webkit-transform: translate3d(-17em, 0, 0);
    -moz-transform: translate3d(-17em, 0, 0);
    transform: translate3d(-17em, 0, 0);
}
.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-overlay, .ui-panel-content-wrap-open.ui-panel-content-wrap-display-overlay {
    left: 0;
}
/*
.ui-page-active.ui-page-panel {
    overflow-x: hidden;
}
*/
.ui-panel-display-reveal {
    -webkit-box-shadow: inset -5px 0 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: inset -5px 0 5px rgba(0, 0, 0, .15);
    box-shadow: inset -5px 0 5px rgba(0, 0, 0, .15);
}
.ui-panel-position-right.ui-panel-display-reveal {
    -webkit-box-shadow: inset 5px 0 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: inset 5px 0 5px rgba(0, 0, 0, .15);
    box-shadow: inset 5px 0 5px rgba(0, 0, 0, .15);
}
.ui-panel-position-right.ui-panel-display-overlay {
    -webkit-box-shadow: -5px 0 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: -5px 0 5px rgba(0, 0, 0, .15);
    box-shadow: -5px 0 5px rgba(0, 0, 0, .15);
}
.ui-panel-position-left.ui-panel-display-overlay {
    -webkit-box-shadow: 5px 0 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 5px 0 5px rgba(0, 0, 0, .15);
    box-shadow: 5px 0 5px rgba(0, 0, 0, .15);
}
.ui-panel-display-push.ui-panel-open.ui-panel-position-left {
    border-right-width: 1px;
    margin-right: -1px;
}
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push {
    margin-left: 1px;
}
.ui-panel-display-push.ui-panel-open.ui-panel-position-right {
    border-left-width: 1px;
    margin-left: -1px;
}
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push {
    margin-right: 1px;
}
@media (min-width:55em) {
    .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-push, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal {
    margin-right: 17em;
}
.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-wrap-display-push.ui-panel-content-fixed-toolbar-position-right, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-wrap-display-reveal.ui-panel-content-fixed-toolbar-position-right, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
    margin: 0 0 0 17em;
}
.ui-responsive-panel .ui-panel-dismiss-display-push {
    display: none;
}
}


