*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* For the sticky footer demoed at http://mystrd.at/modern-clean-css-sticky-footer/ */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 73px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 73px;
    width: 100%;
}

/* End sticky footer */

/* Start some of Clinton's stuff I stole */

#doc_body
{
	width:100%;
	clear:both;
}
.doc_container
{
	max-width:1288px;
	min-width:300px;
	margin:0 auto;
}
@media screen and (max-width:1287px){
	.doc_container
	{
		padding-right:4%;
		padding-left:4%;
	}
}

.content100
{
	width:100%;
}
.content75
{
	width:75%;
	float:left;
}
.content67
{
	width:66.6%;
	float:left;
}

.content50
{
	width:50%;
	float:left;
}
.content33
{
	width:33.3%;
	float:left;
	box-sizing:border-box;
}

.content25
{
	width:25%;
	float:left;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.inner
{
	margin:5px 20px;
	padding:5px 20px 20px;
}
.clear
{
	width:100%;
	clear:both;
}

/* End of the reset, now specific styles for the site */